In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
from scipy.stats import linregress
import json

# Read CSV lat/long
lat_long_df = pd.read_csv('fatal_alligator_attacks_US_with_latlng.csv')
lat_long_df.head()

,Date,UNIX_start_date,UNIX_end_date,First Name,Last Name,Age,Sex,City,State,Lat,Lng,Details
0,2022-08-15,1.660522e+09,1.660522e+09,Nancy,Becker,88,female,Hilton Head Island,South Carolina,32.22,-80.75,The victim fell into a pond in a gated communi...
1,2022-07-15,1.657843e+09,1.657843e+09,Rose Marie,Wiegand,81,female,Englewood,Florida,26.96,-82.35,The victim fell into a pond along a golf cours...
2,2022-06-24,1.656029e+09,1.656029e+09,Micheal,Burstein,75,male,Myrtle Beach,South Carolina,33.69,-78.89,The victim was dragged into a pond in Myrtle B...
3,2022-05-31,1.653955e+09,1.653955e+09,Sean,McGuinness,47,male,Largo,Florida,27.91,-82.79,The victim was attacked while trying to retrie...
4,2021-08-30,1.630282e+09,1.630282e+09,Timothy,Satterlee,71,male,Slidell,Louisiana,30.28,-89.78,The victim was attacked in floodwaters of Hurr...

In [3]:
url='https://archive-api.open-meteo.com/v1/era5?latitude='

weather = []

print('Beginning Data Retrieval')     
print('-----------------------------')
for x in range(len(lat_long_df)):
    lat = lat_long_df.iloc[x,9]
    lon = lat_long_df.iloc[x,10]
    date = lat_long_df.iloc[x,0]
    
    response=requests.get(f"{url}{lat}&longitude={lon}&start_date={date}&end_date={date}&daily=rain_sum&daily=temperature_2m_max&timezone=CST&temperature_unit=fahrenheit").json()
        
    try:
        lat_api = response['latitude']
        lon_api = response['longitude']
        rain = response['daily']['rain_sum']
        temp = response['daily']['temperature_2m_max']
        
    except KeyError:
             print('not found. Skipping...')

    weather.append({
        'Lat': lat_api,
        'Lng': lon_api,
        'Max Temp (F)': temp,
        'Rain (mm)' : rain})

Beginning Data Retrieval
-----------------------------
not found. Skipping...
not found. Skipping...
not found. Skipping...
not found. Skipping...

In [7]:
weather_df = pd.DataFrame(weather)
weather_df.to_csv("Alligator_Weather.csv",index=False)

In [5]:
weather_df["Max Temp (F)"] = weather_df["Max Temp (F)"].apply(lambda x:x.replace('[',''))

AttributeError: 'list' object has no attribute 'replace'

In [ ]:
weather_df